body, html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

html {
  overflow: hidden;
}

body {
  overscroll-behavior: none;
  /* overflow: auto; */
}

canvas {
  padding: 0;
  margin: 0;
  display: block;
  background: radial-gradient(circle farthest-corner at center bottom, #000000, rgb(26, 26, 26));
}

button {
  cursor: pointer;
  font-family: 'Iceland', cursive;
  background-color: rgba(0, 0, 0, 0.01); 
  border: 0.5px solid white;
  margin-right: 5px;
  color: rgb(255,255,255);
  font-size: 1.1em;
  margin-bottom: 3px;
  transition: background-color 500ms, color 500ms;
  -webkit-transition: background-color 500ms, color 500ms;
  -ms-transition: background-color 500ms, color 500ms;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#info-button {
  position: absolute;
  height: 2em;
  background: none;
  border: none; 
  width: 2em; 
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.75);
}

#info-button:hover {
  color: rgba(255, 255, 255, 1);
}

#info {
  position: absolute; 
  top: 2em; 
  padding-right: 3px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  max-height: calc(100vh - 2em);
  overflow-y: auto;
  //width: 62vw;
}

.hidden {
  display: none !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.special {
  display: flex;
  flex-direction: column;
  align-items: right;
  width: max-content;
}

.slider-div {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-bottom: 1em;
}

.slider-div > input {
  -webkit-appearance: none;
  width: 15vw;
  height: 1vw;
  border-radius: 5vw;  
  background: none;
  border: 1px solid white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .1s;
}

.slider-div > input:hover {
  background-color: rgba(255, 255, 255, 0.3); 
}

.slider-div > input::-moz-range-thumb {
  width: 1.5vw;
  height: 0.5vw;
  border-radius: 20px;
  border: 2px solid white;
  background: none;
  cursor: pointer;
}

.slider-div > input::-moz-range-thumb:hover {
  background-color: rgba(255, 255, 255, 1); 
}

select {
  justify-content: right;
  color: white;
  background: none;
  border: 0.5px solid white;
  font-family: 'Lekton';
  font-size: 1.4vw; 
  width: 15vw;
  height: 3vw;
}
select:hover {
  background-color: rgba(255, 255, 255, 0.3); 
}
select:focus {
  outline-color: rgb(25, 255, 40);
}


